extends layout
block styles
    link(rel="stylesheet", href="/css/order.css")
block content
    .container-fluid
        .row
            .col-lg-12
                .card
                    .card-body
                        h3="Order "+order.order_id
                        div(id="P"+order.order_id)
                            .progress(height='20px')
                                .progress-bar(role='progressbar', style=fn.render_progress(order).progressBar.status+';width:'+fn.render_progress(order).progressBar.width+'%;', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
                                    .progress-numbers(style=fn.render_progress(order).progressNumbers.style)
                                        span=order.orders_checked+"/"+order.unique_count
                .card
                    #order_data.card-body
                            .table-responsive#scroll_area
                                table#mainTable.table.table-xs.mb-0
                                    thead
                                        tr
                                            th#0(data-type='asc') images
                                            th#1.sortable.used-new-head(data-type='asc') U/N
                                                .sort-box
                                            th#2.sortable(data-type='asc') Info
                                                .sort-box
                                            th#3.sortable(data-type='asc') Picked
                                                .sort-box
                                    tbody#dynamicTable
                                        each batch in order.items
                                            each item, index in batch
                                                tr(id='row'+item.inventory_id, class=(item.isChecked)?'row_checked':'')
                                                    td
                                                        - const imageSrc = fn.getImageSrcFromItem(item)
                                                        if imageSrc
                                                            img.normal_img_shadow.bl_img.img-thumbnail(id='img'+item.inventory_id, src=imageSrc)
                                                            .stock(id='S'+item.inventory_id)=stock[item.inventory_id]
                                                        else
                                                            i.img_err.bl_img.fas.fa-image
                                                            .stock.stock_img_err(id='S'+item.inventory_id)=stock[item.inventory_id]
                                                    if item.new_or_used
                                                        td(data-order=item.new_or_used.charCodeAt())
                                                            .side-info
                                                                .new_or_used-big=(item.new_or_used==="N"?"New":"Used")
                                                                .new_or_used-small=item.new_or_used
                                                    else 
                                                        td(data-order=-1)
                                                            .side-info
                                                                .new_or_used-big
                                                                    i.fas.fa-exclamation-circle
                                                                .new_or_used-small
                                                                    i.fas.fa-exclamation-circle
                                                    if item.remarks
                                                        td(data-order=fn.orderifyRemarks(item.remarks))
                                                            .all-info
                                                                .main-info
                                                                    .info.info-text.remarks=item.remarks
                                                                    .info.info-text.color_name
                                                                        if item.color_name
                                                                            if item.color_name==="(Not Applicable)"
                                                                                i.fas.fa-tint-slash
                                                                            else
                                                                                span.badge(style=fn.getColorInlineStyle(item.color_name).style)=item.color_name
                                                                        else
                                                                            i.fas.fa-exclamation-circle
                                                                    .info.info-text.quantity
                                                                        if item.quantity
                                                                            .qtbox=item.quantity
                                                                        else
                                                                            .qtbox
                                                                                i.fas.fa-exclamation-circle
                                                    else
                                                        td(data-order=-1)
                                                            .all-info
                                                                .main-info
                                                                    .info.info-text.remarks No remarks
                                                                    .info.info-text.color_name
                                                                        if item.color_name
                                                                            if item.color_name==="(Not Applicable)"
                                                                                i.fas.fa-tint-slash
                                                                            else
                                                                                span.badge(style=fn.getColorInlineStyle(item.color_name).style)=item.color_name
                                                                        else
                                                                            i.fas.fa-exclamation-circle
                                                                    .info.info-text.quantity
                                                                        if item.quantity
                                                                            .qtbox=item.quantity
                                                                        else
                                                                            .qtbox
                                                                                i.fas.fa-exclamation-circle
                                                    td.checkbox-row(data-order=((item.isChecked)?'2':'1'))
                                                        .inner_checkbox.form-check.checkbox_box
                                                            if item.isChecked
                                                                input.checkbox-scale.form-check-input(type='checkbox', id='C'+item.inventory_id, checked='checked')
                                                            else
                                                                input.checkbox-scale.form-check-input(type='checkbox', id='C'+item.inventory_id)
block modals
    #enlarge.modal(tabindex="-1")
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h5#enlargedTitleLabel.modal-title
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    img#enlargedImg(src='')
                .modal-footer
                    p.lead#enlargedFooter
                    a#enlargedItemLink(target="_blank" href="#" role="button" class="btn btn-primary") Item link
block scripts
    script(src="/js/order.js")
    script(src='/js/helpers/sortTable.js')
    script(src="/js/helpers/progress.js")