extends layout
block content
        .row
            .col-lg-12
                .card
                    .card-body
                        if session._id
                            if session.user.CONSUMER_KEY == "527C3A3EFC4143919CABE84D5ACCA153"
                                .options-bar.row
                                        button#labelBtn.btn.btn-block.btn-outline-info
                                            i.fas.fa-tags
                                        #nextLabelBtn.hide.btn-toolbar(role='toolbar' aria-label='Toolbar with button groups')
                                            .btn-group.mr-2(role='group' aria-label='First group')
                                                button#labelCancelBtn.btn.btn-outline-danger(type='button')
                                                    i.fas.fa-ban
                                                button#labelPdfBtn.btn.btn-outline-success(type='button')
                                                    i.fas.fa-file-pdf
                        .active-member
                            .table-responsive
                                table#mainTable.table.table-xs.mb-0
                                    thead
                                        tr
                                            th#0.sortable.data-class-name Order Id
                                                .sort-box
                                            th#1.sortable Progress
                                                .sort-box
                                            th#2.sortable Status
                                                .sort-box
                                            th#3.sortable.order_date Date
                                                .sort-box
                                    tbody#dynamicTable
                                        each order in orders
                                            tr.order-row(id=order.order_id)
                                                //orderID
                                                td.table-data.order_number.d-flex.justify-content-center( data-order=order.order_id) 
                                                    a.order_id.badge.badge-primary(href='/my/orders/'+order.order_id id='o'+order.order_id)
                                                        span=order.order_id
                                                //progress
                                                - const progress = fn.render_progress(order)
                                                td.table-data.progress-col(id='P'+order.order_id, data-order=progress.progressBar.width)
                                                    .progress(style='height: 20px;')
                                                        .progress-bar(role='progressbar', style="background-color:"+progress.progressBar.backgroundColor+';width:'+progress.progressBar.width+'%;' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
                                                    .progress-numbers(style=progress.progressNumbers.style)=order.orders_checked+'/'+progress.total
                                                    span.progress-small.badge(style="background-color:"+progress.progressBar.backgroundColor+";"+progress.span.style)=order.orders_checked+'/'+progress.total
                                                //status
                                                - const status = fn.render_status(order.status)
                                                td.table-data( data-order=status.order)
                                                    span.status-badge.badge.badge-pill( style='color:'+status.span.color+'; background-color:'+status.span.backgroundColor+';' )
                                                        i(class=status.i.class style='color: '+status.i.color)
                                                        span.status-name=status.span.text
                                                //date
                                                td.table-data.order-date( data-order=new Date(order.date_ordered).getTime()) 
                                                    .long_date
                                                        span=fn.render_date_ordered(order.date_ordered,'long')
                                                    .short_date
                                                        span=fn.render_date_ordered(order.date_ordered,'short')
block modals 
    #pdfLabel.modal(tabindex="-1")
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h5 PDF label generated
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    a(href="")#downloadPdf.btn.btn-block.btn-outline-info
                        i.icon-with-text.fas.fa-file-pdf
                        span Download PDF
block styles
    link(rel="stylesheet", href="/css/orderListTable.css")
block scripts
    script(src="/js/orderList.js")
    script(src="/js/helpers/sortTable.js")