extends layout
block styles
    style.
        td {
            font-size: 41px;
            font-weight: bold;
        }

        [type="search"] {
            font-size: 41px;
        }
block content
    .modal#modal_order(tabindex='-1' role='dialog')
        .modal-dialog.modal-xl
            .modal-content
                .modal-header
                    h5.modal-title Order details
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    table.table.table-striped
                        tr
                            td(scope="row") payment
                            td#payment
                                #spinner_payment.spinner-border(role='status')
                                    span.sr-only Loading...
                        tr
                            td(scope="row") status
                            td#status
                                #spinner_status.spinner-border(role='status')
                                    span.sr-only Loading...

                        tr
                            td(scope="row") Shipping Method
                            td#shipping_method
                                #spinner_shipping_method.spinner-border(role='status')
                                    span.sr-only Loading...

                        tr
                            td(scope="row") Shipping Cost
                            td#shipping_cost
                                #spinner_shipping_cost.spinner-border(role='status')
                                    span.sr-only Loading...

                        tr
                            td(scope="row") address
                            td#address
                                #spinner_address.spinner-border(role='status')
                                    span.sr-only Loading..
                        //tr
                            td(scope="row") telephone
                            td#telephone
                                #spinner_telephone.spinner-border(role='status')
                                    span.sr-only Loading..


                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
    .d-flex.flex-row-reverse.bd-highlight#update_row(style="display:none;")
        .p-2.bd-highlight
            button#edit_description_update.btn.btn-primary(style="display:none;" type="button" value="update") update
                #spinner_edit_description_update
    .row
        .col-4
            h1
                a#details(data-toggle="modal" data-target="#modal_order", href="#details")="Order: "+order_id
        .col-1
            button#edit_description_button.btn.btn-outline-primary(type='button')
                i.fas.fa-edit
        .col-7
            p#description.lead
                #spinner_description.spinner-border(role='status')
                    span.sr-only Loading..
            .form-group
                textarea#edit_description.form-control(rows="3", style="display:none;")



    hr
    table#table_id.display(data-display-length='-1')
        thead
            tr
                th Check!
                th Remark
                th Color
                th.data-class-name Qt
                th N/U
                th fotootje
block scripts
    script.
        $(document).ready(function () {
            let spinner = "<div id=\"spinner_edit\" class=\"spinner-border\" role=\"status\">\n" +
                "  <span class=\"sr-only\">Loading...</span>\n" +
                "</div>";
            let check = "<i id=\"check_edit\" class=\"fas fa-check\"></i>";
            let done =
            $.ajax({
                method: "GET",
                url: "/db/order/#{order_id}"
            }).done(function(data){
                $("#spinner_description").remove();
                $("#description").text(data.description);
                $("#edit_description").val(data.description);
            });
            $("#edit_description_button").click(function(){
               $("#description").toggle();
               $("#edit_description").toggle();
               $("#edit_description_update").toggle();
            });
            $("#edit_description_update").click(function(){
                $.ajax({
                    method: "PUT",
                    url: "/db/order/#{order_id}",
                    data:{
                        description:$("#edit_description").val()
                    }
                }).done(function (data) {
                    $("#description").text($("#edit_description").val());
                    $("#description").toggle();
                    $("#edit_description").toggle();
                    $("#edit_description_update").toggle();
                });
            });
            $.ajax({
                method: "GET",
                url: "/api/orders/#{order_id}"
            })
                .done(function (data) {
                    $("#spinner_payment").remove();
                    $("#payment").text(data.data.payment.method);
                    $("#spinner_status").remove();
                    $("#status").text(data.data.status);
                    $("#spinner_shipping_method").remove();
                    $("#shipping_method").text(data.data.shipping.method);
                    $("#spinner_shipping_cost").remove();
                    $("#shipping_cost").text(data.data.cost.shipping+" "+data.data.cost.currency_code);
                    $("#spinner_address").remove();
                    $("#address").text(data.data.shipping.address.full+" "+data.data.shipping.address.country_code );
                });
            $('table#table_id').on('mousedown', 'input', function (e) {
                console.log("test1");
                e.preventDefault();
                console.log("test2");
                if ($(e.target).is("input.checkers")) {
                    console.log($(this).is(":checked"));
                    let state = $(this).is(":checked");
                    console.log("#"+this)
                    $("#"+this.id).prop("checked",state);
                    //update the database

                }
            }).on('click','img',function(e){
               e.preventDefault();
               console.log(e);
               if($(e.target).is('img.img-thumbnail')){
                   let modalId = "#modal"+this.id.substr(3,this.id.length);
                   console.log(modalId);
                   $(modalId).modal('show');
               }
            });
            let pappieBedrag = 0.00;
            $('#table_id').DataTable({
                ajax: {
                    paging: false,
                    url: '/api/orders/#{order_id}/items',
                    dataSrc: 'data'
                },
                columns:[
                    {
                        data: null,
                        bSearchable: false,
                        render: function (data, type, row, meta) {
                            if(row.remarks!==undefined){
                                let l = row.remarks.substr(0, 1).toLowerCase();
                                console.log(row);
                                const de = /[a-d,A-D]\d{1,}/gm;
                                const ute = row.remarks;
                                if (de.exec(ute)) {
                                    //pappieBedrag+=(row.unit_price*row.quantity);
                                    return "<div class='pappieCheckbox'><span class='box papa'></span><input type='checkbox' class='checkers' id='check" + row.inventory_id + "' ></div>";
                                } else {
                                    return "<div class='merijnCheckbox'><span class='box merijn'></span><input type='checkbox' class='checkers' id='check" + row.inventory_id + "' ></div>";
                                }
                            }else{
                                return "<div class='merijnCheckbox'><span class='box merijn'></span><input type='checkbox' class='checkers' id='check" + row.inventory_id + "' ></div>";
                            }
                        }
                    },
                    {data:null,
                    render:function(data,type,row,meta){
                        if(row.remarks===undefined){
                            return "<a href='https://www.bricklink.com/inventory_detail.asp?pg=1&invID=" + row.inventory_id + "' target='_blank'  >geen remark </a>";
                        }else{
                            const remarks = row.remarks;
                            const eersteLettervanRemark = remarks.substr(0,1);
                            const amountOfNumbersInRemarks = (remarks.match(/\d/g) || []).length;
                            const heeftLetterInRemarks  = ((remarks.toLowerCase().match(/[a-z]/g) || []).length>=1 );
                            let remarkNew;
                            switch (amountOfNumbersInRemarks) {
                                case 1:
                                    if(heeftLetterInRemarks){ //A1
                                        remarkNew= eersteLettervanRemark+"000"+remarks.substr(1,remarks.length);
                                    }else{//1
                                        remarkNew=  "000"+remarks;
                                    }
                                    break;
                                case 2:
                                    if(heeftLetterInRemarks){ //A12
                                        remarkNew=  eersteLettervanRemark+"00"+remarks.substr(1,remarks.length);
                                    }else{
                                        remarkNew= "00"+row.remarks;
                                    }
                                    break;
                                case 3:
                                    if (heeftLetterInRemarks) { //A12
                                        remarkNew= eersteLettervanRemark + "0" + remarks.substr(1,remarks.length);
                                    } else {
                                        remarkNew= "0" + row.remarks;
                                    }
                                    break;
                                default:
                                    remarkNew=row.remarks;
                            }
                            return "<a href='https://www.bricklink.com/inventory_detail.asp?pg=1&invID=" + row.inventory_id + "' target='_blank'  >"+remarkNew+"</a>";
                        }
                    }
                    },
                    {
                        data:'color_name',
                        render: function(data,type,row,meta){
                            if(data==="(Not Applicable)"){
                                return "<i class=\"fas fa-tint-slash\"></i>";
                            }else{
                                return data;
                            }
                        }
                    },
                    {data:'quantity'},
                    {data:'new_or_used'},
                    {
                        data:'color_id',
                        bSortable: false,
                        bSearchable: false,
                        render: function (data, type, row, meta) {
                            let id = row.color_id+row.item.no;
                            let modal = "<div class=\"modal fade\" id=\"modal"+id+"\" tabindex=\"-1\" role=\"dialog\" aria-labelledby=\"modalTitle"+id+"\" aria-hidden=\"true\">\n" +
                                "  <div class=\"modal-dialog modal-dialog-centered\" role=\"document\">\n" +
                                "    <div class=\"modal-content\">\n" +
                                "      <div class=\"modal-header\">\n" +
                                "        <h5 class=\"modal-title\" id=\"modalTitel"+id+"\">Item no "+row.item.no+"</h5>\n" +
                                "        <button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\">\n" +
                                "          <span aria-hidden=\"true\">&times;</span>\n" +
                                "        </button>\n" +
                                "      </div>\n" +
                                "      <div class=\"modal-body\">\n" +
                                "        "+row.item.name+
                                "      </div>\n" +
                                "      <div class=\"modal-footer\">\n" +
                                "        <button type=\"button\" class=\"btn btn-secondary\" data-dismiss=\"modal\">Close</button>\n" +
                                "      </div>\n" +
                                "    </div>\n" +
                                "  </div>\n" +
                                "</div>";
                            let _type=row.item.type.substr(0,1);

                            switch (row.item.type) {
                                case "SET":
                                    return modal + "\n" +
                                        "<img id=\"img"+id+"\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/S/" + row.item.no + ".jpg\"" + " alt=\"\"> ";
                                    break;
                                case "MINIFIG":
                                    return modal + "\n" +
                                        "<img id=\"img"+id+"\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/MN/"+row.color_id+"/"+row.item.no+".png\"" + " alt=\"\"> ";
                                    break;
                                case "PART":
                                    return modal + "\n" +
                                        "<img id=\"img"+id+"\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/PN/"+data+"/"+row.item.no+".png\"" + " alt=\"\"> ";
                                    break;
                                case 'INSTRUCTION':
                                    return modal + "\n" +
                                        "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/IN/" + data + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                                    break;
                                case 'BOOK':
                                    return modal + "\n" +
                                        "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/BN/" + data + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                                    break;
                                case 'SET':
                                    return modal + "\n" +
                                        "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/SN/" + data + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                                    break;
                                case 'GEAR':
                                    return modal + "\n" +
                                        "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/GN/" + data + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                                    break;
                                case 'CATALOG':
                                    return modal + "\n" +
                                        "<img id=\"img" + id + "\" class=\"img-thumbnail \" src=\"https://img.bricklink.com/ItemImage/CN/" + data + "/" + row.item.no + ".png\"" + " alt=\"\"> ";
                                    break;
                                default:
                                    return "<i class=\"fas fa-image\"></i>";
                            }

                        }
                    }
                ],
                initComplete:function(settings,json){
                    //$("#pappieBedrag").text("Pappie: "+pappieBedrag.toFixed(2)+"€");
                }
            });
        });

