extends layout
block content
        .row
            .col-lg-12
                .card
                    .card-body
                        .active-member
                            .table-responsive
                                table#mainTable.table.table-xs.mb-0
                                    thead
                                        tr
                                            th#0.sortable.data-class-name Order Id
                                                .sort-box
                                            th#1.sortable.order_date Date
                                                .sort-box
                                            th#2.sortable Status
                                                .sort-box
                                            th#3.sortable Progress
                                                .sort-box
                                    tbody#dynamicTable
                                        each order in orders
                                            tr(id=order.order_id)
                                                td.table-data.order_number.d-flex.justify-content-center( data-order=order.order_id)
                                                    a.order_id.badge.badge-primary(href='/my/orders/'+order.order_id id='o'+order.order_id)
                                                        span=order.order_id
                                                td.table-data.order-date( data-order=new Date(order.date_ordered).getTime())
                                                    .long_date
                                                        span=fn.render_date_ordered(order.date_ordered,'long')
                                                    .short_date
                                                        span=fn.render_date_ordered(order.date_ordered,'short')
                                                - const status = fn.render_status(order.status)
                                                td.table-data( data-order=status.order)
                                                    span.status-badge.badge.badge-pill( style='color:'+status.span.color+'; background-color:'+status.span.backgroundColor+';' )
                                                        i(class=status.i.class style='color: '+status.i.color)
                                                        span.status-name=status.span.text
                                                        
                                                - const progress = fn.render_progress(order)
                                                td.table-data.progress-col(id='P'+order.order_id, data-order=progress.progressBar.width)
                                                    .progress(style='height: 20px;')
                                                        .progress-bar(role='progressbar', style=progress.progressBar.status+'width:'+progress.progressBar.width+'%;' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
                                                    .progress-numbers(style=progress.progressNumbers.style)=order.orders_checked+'/'+progress.total
                                                    span.progress-small.badge(style=progress.span.style)=order.orders_checked+'/'+progress.total

block styles
    link(rel="stylesheet", href="/css/orderListTable.css")
block scripts

    script(src="/js/orderList.js")
    script(src="/js/helpers/sortTable.js")