html
  include _head
  link(rel="stylesheet", href="/css/welcome.css")
  body
    .container-fluid
      .jumbotron
        h1.display-4=titleJumbo||"Welcome To Fyrebrick!"
        p.lead Please fill in your Bricklink credentials
          i#helpButton.far.fa-question-circle
        p.small
          span="The information we need from you below, is available in the "
          a(href="https://www.bricklink.com/v2/api/register_consumer.page", target="_blank", rel="noopener noreferrer") Bricklink register page
          span=" (use IP Address 0.0.0.0 and IP Mask 0.0.0.0)"

        hr.my-4
        form.row(action="/register"  , method='post')
          #consumerSection.box
            .box-inner
              .form-group
                label(for='userName') Bricklink username
                input#userName.form-control(name="userName" type='text' aria-describedby='userNameHelp' placeholder='Enter user name', value=(user)?user.userName:(session.user)?session.user.userName:"", required='')
                small#userNameHelp.form-text.text-muted Your bricklink user name (not store name)
              .form-group
                label(for='consumerKey') Consumer key
                input#consumerKey.form-control(name="consumerKey" type='text' aria-describedby='consumerKeyHelp' placeholder='Enter consumer key', value=(user)?user.CONSUMER_KEY:(session.user)?session.user.CONSUMER_KEY:"", required='')
                small#consumerKeyHelp.form-text.text-muted The consumer key publicly identifies your API account
              .form-group
                label(for='consumerSecret') Consumer secret
                input#consumerSecret.form-control(name="consumerSecret", type='password' aria-describedby='consumerSecretHelp' placeholder='Enter consumer secret',value=(user)?user.CONSUMER_SECRET:(session.user)?session.user.CONSUMER_SECRET:"", required='')
                small#consumerSecretHelp.form-text.text-muted The consumer secret is your confidential API password
              a#next.btn.btn-success.btn-lg.text-white( role='button') next
          #tokenSection(style="display:none;")
            .box-inner
              .form-group
                label(for='tokenKey') Token Value
                input#tokenKey.form-control(name="tokenValue", type='text' aria-describedby='tokenKeyHelp' placeholder='Enter Token Value', value=(user)?user.TOKEN_VALUE:(session.user)?session.user.TOKEN_VALUE:"", required='')
                small#tokenKeyHelp.form-text.text-muted The token key value for our ip address.
              .form-group
                label(for='tokenSecret') Token secret
                input#tokenSecret.form-control(name="tokenSecret", type='password' aria-describedby='consumerSecretHelp' placeholder='Enter consumer secret', value=(user )?user.TOKEN_SECRET:(session.user)?session.user.TOKEN_SECRET:"", required='' )
                small#tokenSecretHelp.form-text.text-muted The token key secret for our ip address.
              a#back.btn.btn-success.btn-lg.text-white( role='button') back
              input#create.btn.btn-primary.btn-lg(type='submit' role='button', value=buttonTitle)
    #registerHelp.fade.modal(tabindex='-1' data-backdrop="static" data-keyboard="false" aria-labelledby="registerHelpLabel" aria-hidden="true")
      .modal-dialog.modal-dialog-scrollable.modal-xl
        .modal-content
          .modal-header
            h5#registerHelpLabel.modal-title Registration help
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            ol
              li 
                p.lead Go to the
                  a(target="_blank" href="https://www.bricklink.com/v2/api/register_consumer.page")=" Bricklink registration page"
              li
                p.lead View the <strong> User information</strong> section.
                ul
                  li 
                    p Use the seller name property to fill in the username field in Fyrebrick
                  li
                    p Fill the consumerKey and consumerSecret in fyrebrick to their corresponding fields
                img.register-img.rounded.mx-auto.d-block(src="/images/register/User_info.JPG")
              li
                p.lead In the <strong>Add Access Token</strong> section: 
                ul
                  li Type for both IP Address and IP mask a 0 in every input field
                  li Then click on the <strong>Add</strong> button
                img.register-img.rounded.mx-auto.d-block(src="/images/register/Add_token_filled_in.JPG")
              li
                p.lead View the newly created <strong>Access Token</strong> properties
                ul
                  li Fill the tokenKey and tokenSecret in fyrebrick to their corresponding fields
                img.register-img.rounded.mx-auto.d-block(src="/images/register/Token_added.JPG")
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Close



    script(src="/js/welcome.js")
