extends layout
block styles
    link(rel="stylesheet", href="/css/settings.css")
block content
        .row
            .col-lg-12
                .card
                    .card-body
                        .row.justify-content-center.extra-bottom
                            .settings-card
                                ul#list-settings.list-group
                                    li.list-group-item
                                        .banner
                                            img.data-status(src="/images/bricklink-logo.png", alt="BL logo")
                                            span.status-name Bricklink API keys
                                        .settings#bricklinkApi
                                                .form-group
                                                    label(for='userName') User name
                                                    input#userName.form-control(name="userName" type='text' aria-describedby='userNameHelp' placeholder='Enter user name', value=(user)?user.userName:"", required='')
                                                    small#userNameHelp.form-text.text-muted Your bricklink user name (not store name)
                                                .form-group
                                                    label(for='consumerKey') Consumer key
                                                    input#consumerKey.api-input.form-control(name="consumerKey" type='text' aria-describedby='consumerKeyHelp' placeholder='Enter consumer key', value=(user)?user.CONSUMER_KEY:"", required='')
                                                    small#consumerKeyHelp.form-text.text-muted The consumer key publicly identifies your API account
                                                .form-group
                                                    label(for='consumerSecret') Consumer secret
                                                    input#consumerSecret.api-input.form-control.addPasswordEye(name="consumerSecret", type='password' aria-describedby='consumerSecretHelp' placeholder='Enter consumer secret',value=(user)?user.CONSUMER_SECRET:"", required='')
                                                    small#consumerSecretHelp.form-text.text-muted The consumer secret is your confidential API password
                                                .form-group
                                                    label(for='tokenValue') Token Value
                                                    input#tokenValue.api-input.form-control(name="tokenValue", type='text' aria-describedby='tokenKeyHelp' placeholder='Enter Token Value', value=(user)?user.TOKEN_VALUE:"", required='')
                                                    small#tokenValueHelp.form-text.text-muted The token key value for our ip address.
                                                .form-group
                                                    label(for='tokenSecret') Token secret
                                                    input#tokenSecret.api-input.form-control.addPasswordEye(name="tokenSecret", type='password' aria-describedby='consumerSecretHelp' placeholder='Enter consumer secret', value=(user )?user.TOKEN_SECRET:"", required='' )
                                                    small#tokenSecretHelp.form-text.text-muted The token key secret for our ip address.
                                                input#apiButton.btn.btn-primary.btn-lg(type='submit' role='button', value="Update")
                                    li.list-group-item
                                        .banner
                                            i.fas.fa-sync.data-status
                                            span.status-name Bricklink data updater 
                                        .settings
                                            .form-group
                                                i.fas.fa-bullseye
                                                label(for='inventoryInterval').pl-2 Update interval
                                                input#inventoryInterval.form-control-range(value=user.update_interval step="1", min="1", max="120", type='range' oninput="$('#rangeval').html('Every '+$(this).val()+' minutes ( '+(Math.round((24*60)/$(this).val()))+' calls everyday )')")
                                                span#rangeval="Every "+user.update_interval+" minutes ( "+(Math.round((24*60)/user.update_interval))+" calls everyday )"
                                                small#inventoryIntervalHelp.form-text.text-muted Update your orders and inventory items in the specified time interval
                                            if user.isBricklinkCallback
                                                .form-group
                                                    .form-check
                                                        input#callbackCheckbox.form-check-input(type='checkbox' value='', checked='')
                                                        label.form-check-label(for='callbackCheckbox')
                                                            span Update via notifications
                                                    small.text-muted.form-text Update the orders and inventory items based on Bricklink's push notifications
                                                .form-group#callBackUrl
                                                    label(for='callbackUrl') Callback URL
                                                    input#callbackUrl.api-input.form-control(name="callbackUrl", type='text' aria-describedby='callbackUrlHelp' value='https://my.fyrebrick.be/callback/'+user.userName, readonly='')
                                                    small#callbackUrlHelp.form-text.text-muted This callback URL should be added in your Bricklink register consumer page
                                            else
                                                .form-group
                                                    .form-check
                                                        input#callbackCheckbox.form-check-input(type='checkbox' value='')
                                                        label.form-check-label(for='callbackCheckbox')
                                                            span Update via notifications
                                                    small.text-muted.form-text Update the orders and inventory items based on Bricklink's push notifications
                                                .form-group#callBackUrl.hideMe
                                                    label(for='callbackUrl') Callback URL
                                                    input#callbackUrl.api-input.form-control(name="callbackUrl", type='text' aria-describedby='callbackUrlHelp' value='https://my.fyrebrick.be/callback/'+user.userName, readonly='')
                                                    small#callbackUrlHelp.form-text.text-muted This callback URL should be added in your Bricklink register consumer page
                                            .form-group
                                                button#update-inventory.update-btn.inventory.btn.btn-outline-info(type='button')
                                                    i.pl-1.fas.fa-sync-alt
                                                    span.pl-1 Update all inventory items
                                                small#update-inventoryHelp.form-text.text-muted Update every single inventory item from your bricklink account
                                            .form-group
                                                button#update-orders.update-btn.orders.btn.btn-outline-info(type='button')
                                                    i.pl-1.fas.fa-sync-alt
                                                    span.pl-1 Update all orders
                                                small#update-ordersHelp.form-text.text-muted Update every single order from your bricklink account
                                            .form-group
                                                button#fix-orders.update-btn.orders.btn.btn-outline-warning(type='button')
                                                    i.pl-1.fas.fa-hammer
                                                    span.pl-1 Fix dulplicate orders
                                                small#update-ordersHelp.form-text.text-muted Removes all duplicates orders if any.
                                    li.list-group-item
                                        .banner
                                            i.fas.fa-user.data-status
                                            span.status-name My Fyrebrick account
                                        .settings
                                            .form-group
                                                i.fas.fa-exchange-alt
                                                span.pl-2 Bricklink API call amount:
                                                ul.list-group.list-group-flush
                                                    li.list-group-item
                                                        span.pl-1 daily:
                                                        span.pl-1=user.API_call_amount.daily.toLocaleString()+" times"
                                                        mall.form-text.text-muted The limit is 5.000 calls a day
                                                    li.list-group-item
                                                        span.pl-1 total:
                                                        span.pl-1=user.API_call_amount.total.toLocaleString()+" times"
                                                        mall.form-text.text-muted Total times called Bricklink API
                                            .form-group
                                                i.fas.fa-cogs
                                                span.pl-2 Manage your account
                                                btn#removeAccount.btn-lg.btn.btn-outline-danger.btn-block
                                                        i.pl-1.fas.fa-trash-alt
                                                        span.pl-1 remove your account
                                                a(role='button', href="/my/gdpr/download").btn-lg.btn.btn-outline-warning.btn-block 
                                                    i.pl-1.fas.fa-file-download
                                                    span.pl-1 download your data
block modals
    #removeAccountModal.modal(tabindex='-1')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title 
                        i.fas.fa-exclamation-triangle
                        span=" Account removal."
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p.lead Do you agree, with deleting all your data from our database?
                    p All your data will be deleted from our database.
                    p You will no longer have an account at Fyrebrick.
                    p.small You will be logged out automatically.
                    hr
                    p.small If you have multiple accounts with us, please use the order and inventory update buttons in the settings to update your data after removing this account.
                .modal-footer
                    button.btn.btn-primary(type='button' data-dismiss='modal') No, take me back.
                    a(href="/my/gdpr/remove", role='button', type="button" ).btn.btn-danger Yes, remove my account

block scripts
    script(src="/js/settings.js")
